<plugin>
<name>ColdBox Connector Plugin</name>
<package>coldboxProxy</package>
<version>1.0</version>
<provider>Ben Dalton</provider>
<providerURL>http://bendalton.com</providerURL>
<category>Application</category>
<settings>
	<setting>
		<!-- The Name attribute if what you will pull the settings value from the pluginConfig.getSettings('[setting name]') -->
		<name>RemoteURL</name>

		<!-- The Label element acts a reader friendly alias the settings element -->
		<label>Enter the Remote URL for your ColdBox application</label>

		<!-- The content of the Hint element show up as a tool tip for the user installing the plugin -->
		<hint></hint>
		<type>text</type>
		<required>true</required>
		
		<!-- The Validation element sets the type of validation to use. OPTIONs (email, date, numeric, regex)-->
		<validation></validation>

		<!-- The regex element is user in conjunction with the Validation element being set to regex. -->
		<regex></regex>

		<!-- The Message element is used to prompt the user when the value submitted does not pass validation. -->
		<message></message>

		<!-- The Default values element act as the settings default values when the user is first installing the plugin. -->
		<defaultvalue></defaultvalue>

		<!-- These next two elements are for select boxes.  They should contain ^ delimited list -->
		<optionlist></optionlist>
		<optionlabellist></optionlabellist>
	</setting>
	<setting>
		<!-- The Name attribute if what you will pull the settings value from the pluginConfig.getSettings('[setting name]') -->
		<name>RemoteAppKey</name>

		<!-- The Label element acts a reader friendly alias the settings element -->
		<label>Remote App Key</label>

		<!-- The content of the Hint element show up as a tool tip for the user installing the plugin -->
		<hint>Enter the key that you would like the proxy set into your event.</hint>
		<type>text</type>
		<required>true</required>
		
		<!-- The Validation element sets the type of validation to use. OPTIONs (email, date, numeric, regex)-->
		<validation></validation>

		<!-- The regex element is user in conjunction with the Validation element being set to regex. -->
		<regex></regex>

		<!-- The Message element is used to prompt the user when the value submitted does not pass validation. -->
		<message></message>

		<!-- The Default values element act as the settings default values when the user is first installing the plugin. -->
		<defaultvalue></defaultvalue>

		<!-- These next two elements are for select boxes.  They should contain ^ delimited list -->
		<optionlist></optionlist>
		<optionlabellist></optionlabellist>
	</setting>

</settings>

<eventHandlers>
<eventHandler event="onRequestStart" component="cfcs.remoteProxy" persist="false"/>
<eventHandler event="onRenderStart" component="cfcs.remoteProxy" persist="false"/>
<eventHandler event="onApplicationLoad" component="cfcs.remoteProxy" persist="false"/>
</eventHandlers>

<displayobjects location="global">
	<displayobject name="ColdBox Display Request" displaymethod="displayRequest" component="displayObjects.ColdboxRequest" persist="false"/>  
</displayobjects>
</plugin>
